.sidebar{
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 55px;
  background-color: whiteb ;
  width: 72px;
  z-index: 200;
    padding-top: 5px;
}


.sidebar-link{
  
  height: 74px;
  /* margin-bottom: px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

}

.sidebar-link:hover{
  background-color: rgb(235  235  235);
}

/* .sidebar-icons{
 height: 24px;
 padding-left: 15px;
} */

.sidebar-link img{
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link div{
  font-family: roboto,arial;
  font-size: 10px;
}