.thumbnail{
  width: 100%;
/* display: block; */
  height:300px;
  /* object-fit: contain; */
  /* object-position: left; */
  /* border-width: 2px; */
  /* border-style: solid; */
  /* background-color: red; */

}


 

/* .video-preview{
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 50px;
} */
.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr ;
}
  .profile-picture{
    width:36px;
    border-radius: 30px;
    margin-top:px;
  }


  .profile-picture1{
    width:45px;
    height: 50px;
    border-radius: 70px;
    margin-top:px;
  }

 
  .video-title{
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .video-author,  .video-stats{
    font-size: 12px;
    color: rgb(96 96 96);
  }

  .video-author{
    margin-bottom: 4px;
  }
  .thumbnail-row{
     margin-bottom: 8px;
     position: relative;
  }

  .video-grid{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr ;
      column-gap: 16px;
      row-gap: 14px;
  }

@media(max-width: 750px){
  .video-grid{
    grid-template-columns:1fr 1fr ;
  }
}

@media(min-width: 751px) and (max-width:999px)
{
  .video-grid{
    grid-template-columns:1fr 1fr  1fr ;
  }
}


@media(min-width: 1000px){
  .video-grid{
    grid-template-columns:1fr 1fr 1fr ;
  }
}


  .video-time{
    font-family: roboto,arial;
    font-size: 12px;
    font-weight: 500;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
    border-radius: 2px;
  }